/* Normalizer */
@import url('./normalize.css');

/* Modules */
@import url('./blaze.css');

/* Stylesheets */
@import url('./about.css');
@import url('./projectModal.css');
@import url('./projects.css');
@import url('./ribbon.css');
@import url('./slider.css');

html {
    --c1: #231942;
    --c2: #5E548E;
    --c3: #9F86C0;
    --c4: #BE95C4;
    --c5: #E0B1CB;
    --tag-bg: #FF9901;
    --grey-btn: #393838;
    --grey-btn-hover: #494949;

    color: black;
    font-family: 'Josefin Sans', sans-serif;
}

/* Reset of body, titles & paragraphs margin */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    height: 100vh;
}

.main-wrapper {
    box-sizing: border-box;
    height: 100vh;
    overflow-y: auto;
}

main {
    box-sizing: border-box;

    width: 100%;
    max-width: 1200px;
    margin: auto;    
    padding: 1em;
    
    background-color: var(--c1);
}

section {padding-bottom: 1em;}

section:last-child {padding-bottom: 0;}

.tag {
    display: inline-block;
    padding: .2em .4em;
    background-color: var(--tag-bg);
    border-radius: 15px;
    margin: 5px;
}

@media (width >= 1024px ) {
    .main-wrapper {
        padding: 20px;
    }
    
    main {
        border-radius: 15px;
    }

    .tag {
        font-size: 25px;
    }
}