.filter-system,
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    font-size: 1.3em;
}

.filter-system {
    border-radius: 8px;
    padding: 1em .5em;
    
    margin-bottom: 15px;
    
    background-color: var(--c4);
}

.filter-system #search-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.filter-system #search {
    margin-bottom: 1em;
    width: 100%;
    padding: .25em .3em;
    border: #8a8a8a 1px solid;
    border-radius: 15px;
}

.filter-system .filters {
    width: 100%;
}

.filter-system .filters h3 {
    border-bottom: #505050 1px solid;
    padding-bottom: .2em;
}

.filter-system .filters ul {
    margin-top: .7em;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

.filter-system .filters li {
    margin-bottom: .35em;
}

.filter-system .filters input {
    position: relative;
    margin: 0 1rem 0 0 ;
    cursor: pointer;
}

.filter-system .filters input::before {
    content: "";
    position: absolute;

    z-index: 1;
    width: 12px;

    transition: transform .4s cubic-bezier(.45,1.8,.5,.75);
}

.filter-system .filters input::after {
    content: "";
    position: absolute;
    top: -4px;

    width: 1rem;
    height: 1rem;
    background: #fff;
    border: 2px solid #f2f2f2;
}

.filter-system .filters input[type=checkbox]::before {
    left: 3px;
    height: 6px;

    border: 2px solid #16a085; 
    border-top-style: none;
    border-right-style: none;

    transform: rotate(-45deg) scale(0, 0);
}

.filter-system .filters input[type=checkbox]:checked:before {
    transform: rotate(-45deg) scale(1, 1);
}

.filter-system .filters input[type=radio]::before {
    left: 4px;
    height: 12px;

    background: #16a085;
    border-radius: 50%;

    transform: scale(0,0);
}

.filter-system .filters input[type=radio]:checked::before {
    transform: scale(1,1);
}

.filter-system .filters input[type=radio]::after {
    border-radius: 50%;
}

.filter-system .filters img {
    position: relative;
    top: 2px;
    width: 25px;
    height: 25px;
    margin-right: 0.2em;
}

.filter-system .filters label {
    line-height: 135%;
    cursor: pointer;
}

.filter-system .reset-wrapper {
    width: 100%;
    text-align: end;
}

.filter-system .reset-wrapper button {
    padding: 0.2em 0.4em;
    background-color: var(--grey-btn);
    border-radius: 8px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.filter-system .reset-wrapper button.hidden {
    display: none;
}

.project-list article {
    margin: 1.5rem 0;
    width: 100%;
    cursor: pointer;
}

.project-list .image-wrapper {
    position: relative;
    width: 100%;
    max-height: 20rem;
    border-radius: 10px;
    overflow: hidden;

    top: 0;
    left: 0;
}

.project-list .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-list .image-wrapper h3 {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    padding: .6em 1.1em .4em 1.1em;
    
    background-color: #3834347e;
    color: white;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-list .content {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem;
    display: block;
    text-align: center;
}

.project-list .content span {
    color: #555;
    font-size: 1.4rem;
}

@media (width >= 1024px) {
    .filter-system #search {width: 85%;}
    .filter-system .filters {width: 25%;}
    
    .project-list article {
        position: relative;
        width: 16rem;
        height: 16rem;
        margin: 2rem;
    }

    .project-list .image-wrapper {
        height: 100%;
        position: absolute;    
        z-index: 2;
        transition: transform 0.5s ease-in-out;
    }

    .project-list .content {
        position: relative;
        top: 0;
        left: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(180deg, var(--c1) 0%, var(--c2) 100%);
        border: black 2px solid;
        border-radius: 15px;
        
        opacity: 0;
        height: 100%;
        transition: all 0.5s ease-in-out;
    }
    
    .project-list article:hover .imgBox,
    .project-list article:focus .imgBox,
    .project-list article:active .imgBox {
        transform: translate(-1.5rem, -1.5rem);
    }

    .project-list article:hover .content,
    .project-list article:focus .content,
    .project-list article:active .content {
        opacity: 1;
        transform: translate(3.5rem, 3.5rem);
        z-index: 2;
    }
}